<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Create Account{% endblock title %}</title>
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:500,900" rel="stylesheet"> 
    <!-- Css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{asset('css/style.css')}}">
  <link rel="stylesheet" href="{{asset('css/article-grid.css')}}">
  <link rel="stylesheet" href="{{asset('build/css/app.css')}}">

 

</head>

<body>

  {% block form %}
  <form action="{{path("home")}}">
          <div class="container login-form col-xl-2 col-lg-5 col-sm-5 col-9">
                  <h1 id="login">New Account</h1>
  
      <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Name:">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="pwd" placeholder="Password:">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="conf-pwd" placeholder="Confirm password:">
        </div>  
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="E-mail:">
        </div>
        <button class="btn submit-btn d-flex mx-auto col-12">Submit</button>
  </form>
  </div>
      {% endblock form %}



  <!-- Script -->
  <script src="https://cdn.ckeditor.com/ckeditor5/10.1.0/classic/ckeditor.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{asset('js/script.js')}}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

</body>


</html>