/* ul.articles {
    margin: 0;
    padding-left: 0;
} */

/* .articles, .articles * {
    box-sizing: border-box;
} */

/* .articles {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: -10px;
    margin-right: 10px;
}

.article {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin-bottom: 20px;
} */

/* .article .article-link {
    display: block;
    background-position: center;
    background-size: cover;
} */

/* .article .article-link:before {
    content: "";
    display: block;
    padding-top: 65%;
} */

/* .article .article-title {
    position: absolute;
    text-transform: uppercase;
    color: rgb(26, 20, 49);
    bottom: 40px;
    font-weight: 900;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    margin-left: 25px;
    padding: 10px;
} */

/* .article .article-actions {
    position: absolute;
    bottom: 10px;
    right: 20px;
} */

/* .article .article-action {
    padding: 18px 0;
    width: 60px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1;
    transition: background-color .15s ease-in-out;
    text-align: center;
} */

/* .article .article-action:last-child {
    margin-left: 10px;
} */
/* 
.article .remove:hover {
    color: rgb(255, 0, 106);
}

.article .edit:hover {
    color: rgb(0, 255, 149);
} */

/* @media screen and (max-width: 992px)

{
    .article {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        margin-bottom: 20px;
    }
    .grid-container{
        max-width: 100%;
    }
} */