/* a{
  outline: none;
}

.navbar{
  text-transform: uppercase;
  height:50px;
  padding: 0;
  margin: 0;
  
}

.navbar-brand h1{
  display: flex;
  align-content: center;
  vertical-align: middle;
  font-size: 32px;
  letter-spacing: -4px;
  vertical-align: middle;
  font-weight: 900;
}
.navbar-brand span{
  color:rgb(255, 0, 106); 
}
.navbar a{
  color:rgb(255, 255, 255)!important;
  font-weight: 900;
  margin-top: 30px;
  margin-right:10px;
  font-size: 16px;
  text-shadow: 1px 1px 10px black;
}
.home a:hover{
  color:rgb(255, 0, 106)!important;
}
.about a:hover{
  color:rgb(0, 255, 149)!important;

}
.contact a:hover{
  color:rgb(255, 123, 0)!important;
} */
/* 
body{
  background-color:#2D2353;
  font-family: 'Raleway', sans-serif;
  margin:0;
  padding:0;
} */

/* .cntr {
  display: table;
  width: 100%;
  height: 100%;
  margin-top: 35px;
}
.cntr .cntr-innr {
  display: table-cell;
  text-align: center;
  padding-left: 20px;
  margin-top:10px;
}
/*** STYLES ***/
/* .search {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border: 3px solid #FFFFFF;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;
}
.search:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 16px;
  right: -5px;
  top: 18px;
  background: #FFFFFF;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: all 200ms ease;
}
.search.active,
.search:hover {
  width: 200px;
  margin-right: 0px;
}
.search.active:after,
.search:hover:after {
  height: 0px;
}
.search input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background: transparent;
  outline-width: 0px;
  margin-bottom: 15px;
  position: relative;
  top: -9px;
} */

/* .banner{
  background: linear-gradient(black 0%, transparent 15%), url('/img/4.jpg');
  background-size:cover;
  background-position: center;
  height: 700px;
  padding: 0;
  margin: 0;
} */

/* footer{
  background-color: rgb(26, 20, 49);
  height: 150px;
  bottom: 0;
  text-align:center;
  color:white;
  font-size: 10px;
}
.footer-nav, .footer-social{
  padding-left:0;
}
.footer-nav a{
  text-decoration: none;
  color:white;
}
.footer-nav a:hover{
  text-decoration: none;
  color:rgb(255, 0, 106);
} */



/* .grid-column{
  flex-direction: column;
  padding:0;
  width:520px;
} */
/* .big-picture{
  height:730px;
  width:535px;
  background-color:rgb(255, 0, 106);
  padding: 0;
  margin: 10px;
  margin-bottom: 20px;
} */

/* .small-picture{
  height:355px;
  width:265px;
  background-color:rgb(255, 0, 106);
  padding: 0;
  margin: 10px;
  
} */

/* .medium-picture{
  height:355px;
  width:535px;
  background-position: center;
  padding: 0;
  margin: 10px;
  overflow: hidden;
} */

/* .overlay {
  position: relative;
}
.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
} */
/* .overlay:hover:before{
  display: block;
} */
/* 
.title{
  position: absolute;
  text-transform:uppercase;
  color:rgb(26, 20, 49);
  bottom: 40px;
  font-weight: 900;
  font-size: 25px;
  background-color:rgb(255, 255, 255);
  margin-left: 25px;
  padding: 10px;
}


.medium-picture:before{
  position: absolute;
  background:rgba(255, 0, 106, 0.6);
  animation: hovereffect;
  animation-duration: .4s;
 } */


/* footer{
  height: 180px;
  background-color: rgb(22, 17, 41);
  margin-top: 100px;
}

.footer-nav {
  padding-top: 40px;
  margin-bottom: 0;

}

.footer-nav li, .footer-social li{
  display: inline-flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 13px;
  text-transform: uppercase;

}

.footer-social a{
  font-size: 25px;
  margin: 10px;
  margin-bottom: 0;
  color: white;

}

.footer-social a:hover{
    transform: scale(1.4);
    color:rgb(255, 0, 106);
} */

#login, #register-title{
  color:white;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 30px;
  font-size: 20px;
}

.form-group input{
  background-color: #18122B;
  border: transparent;
}

.form-group input:focus, .register-form input:focus{
  background-color: #18122B;
  color: white;
}

.form-control{
  color:white;
}

.form-control:focus, .register-form input:focus{
  box-shadow: 0 0 0 2px rgb(253, 0, 118); 
}

.submit-btn{
background-color: rgb(253, 0, 118);
justify-content: center;
text-transform: uppercase;
color:white;
border:none;
margin-top:10px;

}

.submit-btn:hover{
  background-color: rgb(204, 0, 95);
  box-shadow: inset 1px 1px 3px 3px rgb(93, 0, 44);
  border:none;
  color:rgb(223, 223, 223);
  }

  .remember-me{
    color:white;
    font-size: 13px;
    margin-top: 15px;
  }

  .create-account{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 13px;
    text-transform: uppercase;
  }

  .create-account:hover{
    background-color: rgb(143, 143, 143);
    color: white;
  }
  .about-banner{
    margin-top:50px;
  }

  .about h1{
    font-weight: 900;
    text-transform: uppercase;
    color:white;
    text-align: center;
    margin-top:100px;
  }

  .about p {
    color:white;
    font-size:16px;
    margin-top: 30px;
    text-align: center;
    /* margin-bottom:200px; */
  }
  .control-panel{
    height:602px;
    background-color: rgb(168, 2, 79);
  }

  .admin-panel{
    margin-bottom:200px;
  }
  .admin h1{
    text-align: center;
    margin-top:100px;
    color: white;
    font-weight: 900;
    margin-bottom: 60px;
    padding-bottom: 30px;
  }

.ck-editor{
  min-width: 835px;
  margin-left: 20px;
}
.ck-content{
  min-height: 450px;
}
.post, .preview{
  background-color: rgb(204, 0, 95);
  margin-top: 20px;
  margin-left: 20px;
  width: 100px;
  justify-content:center;
  color: white;
}
.post:hover, .preview:hover{
  background-color: rgb(168, 2, 79);

}

.control-panel button{
  background-color:rgb(204, 0, 95);
  height: 100px;
  color:white;
}


@keyframes hovereffect {
  0% {

    opacity: 0;
}
100% {

    opacity: 100%;
}
}

#title{
  margin-bottom: 20px;
}
#img-cover{
  color:white;
  margin-bottom: 20px;
  margin-left: 20px;
}

.tags{
  margin-top: 20px;
  width:135px;
}


@media screen and (max-width: 1200px)

{
  .medium-picture{
    height:300px;
    width:445px;
  }
    .main-title{
   margin-top:440px;
   font-size:40px;
   }
}

@media screen and (max-width: 992px)

{
  .medium-picture{
    height:440px;
    width:670px;
  }
  .navbar{
    background-color: black;
    text-align:center;
    height: 88px;
  }
  .toggle{
    background-color: black;
    padding:0;

  }
  .navbar-brand{
    display:flex;
    align-content: center;
    margin:0!important;
    padding:0!important;
  }

  .cntr{
    display:none;
  }
  .main-title{
   margin-top:270px;
   font-size:30px;
   }

   .banner{
     height:500px;
   }
}


button{
  background-color: rgb(168, 2, 79);
  color: white;
  border:none;
  border-radius: 2px;
}

button:hover{

  background-color: rgb(124, 3, 59);
  color: white;
  border:none;
  border-radius: 2px;
}

.edition-btn{
  background-color: rgb(168, 2, 79);
  border:transparent;
  color:white;

}
.edition-btn:hover{
  background-color: rgb(168, 2, 79);
  border:transparent;
  color:white;
}
.remove-btn{
  background-color: rgb(26, 20, 49);
  border:transparent;
  color: white;

}
.remove-btn:hover{
  background-color: rgb(26, 20, 49);
  border:transparent;
  color:white;

}

.admin-btns{
  bottom:0px;
  position: absolute;
  right: 0px;
}



.edit, .remove{
  color:white;
  font-size: 20px;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  margin-bottom: 20px;
  margin-right: 20px;
  height: 60px;
  width:60px;
  text-align: center;
}

.register-form input{
  width:100%;
  background-color: #18122B;
  border: transparent;
  border-radius: .25rem;
  margin-bottom:10px;
  height:36px;
  color:#6c757d;
  padding-left:10px;
}
