body {
  margin: 0;
  padding: 0;
  background-color: #2D2353;
  font-family: 'Raleway', sans-serif;
}

a {
  outline: none;
}

// banner
.banner {
  background: linear-gradient(black 0%, transparent 15%),
  url('../../public/img/4.jpg') {
    size: cover;
    position: center;
  }
  height: 700px;
  padding: 0;
  margin: 0 0 20px 0;
}

// Navbar
.navbar {
  text-transform: uppercase;
  height: 50px;
  padding: 0;
  margin: 0;
  z-index: 1000;
  a {
    font: {
      weight: 900;
      size: 16px;
    }
    color: rgb(255,
    255,
    255) !important;
    margin: 30px 10px 0 0;
    text-shadow: 1px 1px 10px black;
  }
  .navbar-brand {
    h1 {
      font: {
        weight: 900;
        size: 32px;
      }
      display: flex;
      align-content: center;
      vertical-align: middle;
      letter-spacing: -1px;
    }
    span {
      color: rgb(255, 0, 106);
    }
  }
  .navbar-nav {
    .home a:hover {
      color: rgb(255, 0, 106) !important;
    }
    .about a:hover {
      color: rgb(0, 255, 149) !important;
    }
    .contact a:hover {
      color: rgb(255, 123, 0) !important;
    }
  } // Searching Bar
  .cntr {
    display: table;
    width: 100%;
    height: 100%;
    margin-top: 35px;
    .cntr-innr {
      display: table-cell;
      text-align: center;
      padding-left: 20px;
      margin-top: 10px;
    }
    .search {
      display: inline-block;
      position: relative;
      height: 30px;
      width: 30px;
      box-sizing: border-box;
      margin: 0px 8px 7px 0px;
      padding: 7px 9px 0px 9px;
      border: 3px solid #FFFFFF;
      border-radius: 25px;
      transition: all 200ms ease;
      cursor: text;
      &:after {
        content: "";
        position: absolute;
        width: 4px;
        height: 16px;
        right: -5px;
        top: 18px;
        background: #FFFFFF;
        border-radius: 3px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        transition: all 200ms ease;
      }
      &:after {
        content: "";
        position: absolute;
        width: 4px;
        height: 16px;
        right: -5px;
        top: 18px;
        background: #FFFFFF;
        border-radius: 3px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        transition: all 200ms ease;
      }
    }
    .search.active,
    .search:hover {
      width: 200px;
      margin-right: 0px;
    }
    .search.active:after,
    .search:hover:after {
      height: 0px;
    }
  }
    input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background: transparent;
    outline-width: 0px;
    margin-bottom: 15px;
    position: relative;
    top: -9px;
  }
}

.main-title {
  font: {
    weight: 900;
    size: 50px;
  }
  text-transform: uppercase;
  position: absolute;
  display: flex;
  align-items: end;
  margin: 440px 0 0 10px;
  color: black;
  background-color: white;
  padding: 10px;
}

// Footer

footer {
  background-color: rgb(26, 20, 49);
  height: 190px;
  bottom: 0;
  text-align: center;
  color: white;
  font-size: 11px;
  margin-top: 100px;
  .footer-nav {
    padding: 40px 0 0 0;
    margin-bottom: 0;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: none;
        color: rgb(255, 0, 106);
      }
    }

  }
  .footer-social {
    padding-left: 0;
    a {
      font-size: 25px;
      margin: 10px 10px 0 10px;
      color: white;
      &:hover {
        transform: scale(1.4);
        color: rgb(255, 0, 106);
      }
    }
  }
  .footer-nav,
  .footer-social {
    li {
      display: inline-flex;
      justify-content: center;
      text-align: center;
      color: white;
      font-size: 13px;
      text-transform: uppercase;
    }
  }
  footer p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 992px) {
  .grid-container {
    max-width: 100%;
  }
}

ul.articles {
  margin: 0;
  padding-left: 0;
}

.articles {
  box-sizing: border-box;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: -10px;
  margin-right: 10px;
  * {
    box-sizing: border-box;

  }
  .article {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin-bottom: 20px;
    @media screen and (max-width: 992px) {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      margin-bottom: 20px;
    }
  }
  .article-link {
    display: block;
    background-position: center;
    background-size: cover;
    &:before {
      content: "";
      display: block;
      padding-top: 65%;
    }
    &:hover {
      // Here, the article's hover effect
    }
  }

  .article-title {
    position: absolute;
    text-transform: uppercase;
    color: rgb(26, 20, 49);
    bottom: 40px;
    font-weight: 900;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    margin-left: 25px;
    padding: 10px;
  }
  .article-actions {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  .article-action {
    padding: 18px 0;
    width: 60px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1;
    transition: background-color .15s ease-in-out;
    text-align: center;
    &:last-child {
      margin-left: 10px;
    }
  }
  .remove:hover {
    color: rgb(255, 0, 106);
  }
  .edit:hover {
    color: rgb(0, 255, 149);
  }
}

