<footer>
  <div class="container-fluid">
      <ul class="footer-nav">
        <li><a class="nav-link" href="{{path('home')}}">Accueil</a></li>
        <li><a class="nav-link" href="{{path('about')}}">A propos</a></li>
        {# Le if ci dessous vérifie que la personne connctée a le rôle admin #}
        {% if is_granted('ROLE_ADMIN') %}
        <li><strong><a class ="nav-link" href="{{path("admin")}}">Administration</a></strong></li>
          
        {% endif %}

        {% if app.user %}
        <li><strong><a class ="nav-link" href="{{path("logout")}}">Déconnexion</a></strong></li>
          
        {% else %}
        <li><strong><a class ="nav-link" href="{{path("login")}}">Connexion</a></strong></li>
          
        {% endif %}

      </ul>
        <ul class="footer-social">
            <li>
              <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
              <a href="https://www.twitter.com/"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram"></i></a>
          </ul>
          <p>2018 - Developped by Rafu</p>
  </div>

</footer>