{% block grid %}
  <div class="content grid">
    <div class="container bloup">
      <div class="grid col-12">
        <div class="grid-column col-md-6">
          <div class="big-picture"></div>

          <div>
              <div class="medium-picture"></div>

        </div>
        </div>
        <div class="grid-column col-md-6">
          <div class="patate">
            <div class="small-picture">
              <title></title>
            </div>
            <div class="small-picture"></div>
          </div>
          <div class="medium-picture"></div>
          <div class="patate">
            <div class="small-picture"></div>
            <div class="small-picture"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% endblock grid %}