{% extends "skeleton.html.twig" %}

{% block header %}
<header>
    <div class="container-fluid banner linear-gradient">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container toggle mx-auto">
                <a class="navbar-brand" href="#">
                    <h1>RFU<span>.</span></h1>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item home">
                            <a class="nav-link" href="{{path('home')}}">Accueil</a>
                        </li>
                        <li class="nav-item about">
                            <a class="nav-link" href="{{path('about')}}">A propos</a>
                        </li>
                        <li class="nav-item contact">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li>
                            <div class="cntr search-btn">
                                <div class="cntr-innr">
                                    <label class="search" for="inpt_search">
                                        <input id="inpt_search" type="text" />
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="main-article">
                <h1 class="main-title">Jeremie Chabert</h1>
            </div>
        </div>
    </div>
</header>{% endblock header %}

{% block grid %}
<div class="content grid d-flex">
    <div class="container grid-container">
        <ul class="articles">
            {% for row in index %}
            <li class="article">
                <a href="{{ path('article', {id:row.id}) }}" class="article-link" style="background-image: url({{asset(row.url)}})">
                    <span class="article-title">{{ row.title }}</span>
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="article-actions">
                    <a class="article-action remove fa fa-trash-alt" href="{{ path('remove_article', {"id":row.id}) }}"></a>
                    <a class="article-action edit fa fa-edit" href="{{ path('edition', {"id":row.id}) }}"></a>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock grid %}
{% block admin %}

{% endblock admin %}