{% extends "skeleton.html.twig" %}

{% block about %}
{% for article in row %}
<div class="container about">
  <img src="{{article.url}}" class="about-banner img-fluid" alt="">
  <h1>{{article.title}}</h1>
  <p>{{article.content|raw}}</p>
</div>
{% endfor %}
{% endblock about %}